{% set levelID = getNextLevel() %}
{% if levelID %}
    {% set level = getLevel(levelID) %}
    <div class="block block--highlight playground-next-level-hero">
        <div class="block-heading">
            {% if not user %}
                <h4 class="right c-subtle"><i class="fas fa-user-lock"></i> Levels for members only</h4>
            {% endif %}
            <h3>Next level</h3>
        </div>
        <div class="block-content">
            <a href='/playground/{{ level.slug }}'>
                <div class="medal medal--{{ level.difficulty }} mobile-hide">
                    <i class="fas fa-medal"></i>
                </div>
                <div class="level-details">
                    <h2>{{ level.title }}{% if level.subject %} / {{ level.subject }}{% endif %}</h2>
                    {% include 'playground/includes/progress-bar.twig' %}
                </div>
                <div class="level-graph mobile-hide">
                    {% include 'playground/includes/graph.twig' %}
                </div>
            </a>
        </div>
    </div>
{% endif %}