<div class="block levels-subjects">
    <div class="block-heading"><h3>Subjects</h3></div>
    <div class="block-content">
        <ul>
            {% for slug, data in subjects %}
                {% set active = subject.slug == slug %}
                <li class="{{ active ? 'active' : '' }}">
                    <a href="?subject={{ slug }}">
                        {{ data.name }}
                        <span class="tag {{ active ? 'tag--secondary-alt' : 'tag--secondary' }} right">{{ data.count }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>