{% set queue = queue('classes', 'sidebar', 'shop') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide">

        <div class="row">
            <div class="nine columns">
                {% include 'includes/flash.twig' %}

                <div class="block block--product">
                    <div class="block-heading">
                        <h1>{{ item.name }}</h1>
                    </div>
                    <div class="block-content row">
                        <div class="four columns">
                            <img src="{{ item.images.0 }}" {% if item.images.1 %}data-image-alternative="{{ item.images.1 }}"{% endif %}/>
                            <h3>£{{ (item.metadata.price/100)|number_format(2) }}</h3>
                            {% include 'includes/form.twig' with { form: form } %}
                        </div>
                        <div class="eight columns">
                            {{ item.description|raw }}
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="block-content">
                        <p><strong>Free shipping is included with all orders</strong></p>
                        <p>Items may be shipped from the EU or USA so please allow time for delivery. If you have any issues or concerns please <a href='/help/contact'>contact us</a></p>
                    </div>
                </div>
            </div>
            <div class="three columns">
                {% include 'shop/sidebar.twig' %}
            </div>
        </div>

    </div>

{% endblock %}