{% set queue = queue('classes', 'sidebar', 'shop') %}
{% set queue2 = queue('scripts', 'https://js.stripe.com/v3/') %}
{% extends 'layout/main.twig' %}

{% block content %}
    
    <script>
        $(function() {
            var stripe = Stripe('pk_live_eazq8K7rGE7CyLb3yg13LIXC00GOE5cXwd');
            stripe.redirectToCheckout({
                sessionId: '{{ checkout_id }}'
            }).then(function (result) {
                console.log(result);
            });
        });
    </script>

{% endblock %}