{% if order and order.items %}
    {% include 'shop/currentOrder.twig' %}
{% endif %}

{% if orders is iterable %}
    <div class="block">
        <div class="block-heading"><h3>Orders</h3></div>
        <div class="block-content">
        <div class="block-content">

            {% for order in orders %}
                <div class="block shop-order">
                    <div class="block-heading"><h4>Order #{{ order.order_id }} <span class="small right">{{ order.created|ago }}</span></h4></div>
                    <div class="block-content">
                        {% if order.status %}
                            <p>
                                {{ order.status.message }} | {{ order.status.when|ago }}
                            </p>
                        {% endif %}
                        {% include 'shop/orderList.twig' %}
                    </div>
                </div>
            {% endfor %}
            <p>
                Need help? <a href='/help/contact?message={{ 'I need help with order ' ~ order.orderId|url_encode }}'>Contact us</a>
            </p>
        </div>
    </div>
{% endif %}