<!DOCTYPE html>
<html lang="en">
    <head>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
        <title>Your Elections</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1">
        <meta name="referrer" content="origin-when-crossorigin">

        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <div class="content">
            <h1>Your Elections</h1>

            {% if message %}
                <div class="message">{{ message }}</div>
            {% elseif voted %}
                <div class="message">You have already cast your vote</div>
            {% endif %}

            <div class="candidates">
                <div class="candidate">
                    <img src="1.jpg"/>
                    <h3>Ruben Gordon</h3>

                    <p>I’m running for president so that, when we are in the White House, the movement we build together can achieve economic, racial, social and environmental justice for all.</p>

                    {% if not voted %}
                        <a href='?vote_id=876345'>Vote</a>
                    {% endif %}
                </div>
                <div class="candidate">
                    <img src="2.jpg"/>
                    <h3>Suzanne Long</h3>

                    <p>I’m running for president so that, when we are in the White House, the movement we build together can achieve economic, racial, social and environmental justice for all.</p>

                    {% if not voted %}
                        <a href='?vote_id=62d784'>Vote</a>
                    {% endif %}
                </div>
                <div class="candidate">
                    <img src="3.jpg"/>
                    <h3>Dennis Bates</h3>

                    <p>I’m running for president so that, when we are in the White House, the movement we build together can achieve economic, racial, social and environmental justice for all.</p>

                    {% if not voted %}
                        <a href='?vote_id=76234'>Vote</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>