{% set title = article.title %}
{% set queue = queue('classes', 'sidebar', 'dashboard') %}
{% set queue2 = queue('scripts', '/vendor/push.js', '/js/dashboard.min.js') %}
{% extends 'layout/main.twig' %}

{% block content %}

    <div id="content" class="container container--wide">
        {% include 'includes/flash.twig' %}

        <div class="block">
            <div class="block-content">
                <div class="row">
                    <div class="twelve columns">
                        {% include 'articles/article-picks.twig' with { articlePicks: articlePicks } only %}
                    </div>
                </div>

                <div class="row">
                    <div class="nine columns">
                        {% include 'playground/includes/next-level.twig' %}

                        {% include 'dashboard/discussions.twig' %}

                        {% include 'dashboard/externalNews.twig' %}
                    </div>
                    <div class="three columns">
                        {% include 'includes/feed.twig' %}

                        {% include 'includes/advert.twig' %}

                        {% include 'dashboard/notifications.twig' %}

                        {% include 'dashboard/exploits.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}