{% set queue = queue('classes', 'sidebar', 'help') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <h1>Medals</h1>
            </div>
            <div class="block-content">
                <ul class="list medal-list">
                    {% for label, group in medalGroups %}
                        <li id="{{ label }}">
                            <h3 id="{{ label }}">{{ label }}</h3>

                            <ul>
                                {% for medal in group %}
                                    {% set progress = medal.getMyProgress() %}
                                    <li>
                                        <div>
                                            <i class="far fa-check-circle c-{{ medal.colour }} {% if not progress.completed %}fa-hidden{% endif %}"></i>
                                            {{ medal.description|raw }}
                                        </div>
                                        {% if not progress.completed %}
                                            <div class="medal-progress medal-progress--{{ medal.colour }}">
                                                <div class="small medal-progress-medal right"></div>
                                                {% if progress.stepsTotal %}
                                                    <div class="small">{{ progress.stepsCompleted }} of {{ progress.stepsTotal }}</div>
                                                {% endif %}
                                                {% if progress.stepsTotal %}
                                                    <div class="progress progress--small">
                                                        <div class="progress-bar" style="width: {{ progress.percentage }}%"></div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}