<script src="https://zhr3.co.uk/js/sql.min.js"></script>

<h2>SQLi Challenge 1</h2>

<p>Try and login with a valid administrator account without using their password.</p>

<form class="sqliTestForm">
    <input type="text" placeholder="password"/>
    <input type="submit" class="button" value="Login"/>
</form>

<div class="debug">
    <div class="debug-title">Need some help? Click here to view debug messages</div>
    <div class="debug-content"></div>
</div>

<script>
    (function() {
        var $form = $('.sqliTestForm'),
            $container = $form.parent(),
            $debug = $form.siblings('.debug').children('.debug-content'),
            sql = window.SQL,
            db = new sql.Database();

            // var existingHandleError = db.handleError;
            // db.handleError = function(error) {
            //     console.log('error');
            // }

            sqlstr = "CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT, username VARCHAR, password VARCHAR, admin INTEGER);";
            sqlstr += "INSERT INTO users (username, password, admin) VALUES ('timmy', 'secret', 1);"
            sqlstr += "INSERT INTO users (username, password, admin) VALUES ('lilly', 'hidden', 0);"
            db.run(sqlstr);


        $form.on('submit', function(e) {
            e.preventDefault();

            var input = $(this).find('input[type=text]').val(),
                sql = "SELECT * FROM users WHERE password = '" + input + "'";
                results = db.exec(sql);

            output(sql, results);

            $container.children('.msg').remove();
            var $msg = $('<div>', { class: 'msg' });
            if (results.length && results[0].values.length == 1 && results[0].values[0][0] === 1) {
                // Make sure they didn't include password
                if (input.indexOf('secret') !== -1) {
                    console.log('Stop cheating');
                    $msg.text('Stop cheating!').addClass('msg--error');
                } else {
                    $msg.text('Nice job').addClass('msg--success');
                }
            } else {
                $msg.text('Invalid login');
            }
            $form.before($msg);
        });

        function output(sql, results) {
            $debug.siblings('.debug-title').show();

            $debug.html('<pre>' + sql + '</pre>');

            if (results.length) {
                for (var i = 0; i < results.length; i++) {
                    $debug.append(outputTables(results[0].columns, results[0].values));
                }
            } else {
                $debug.append('No results');
            }
        }

        var outputTables = function(columns, values) {
            var $table = $('<table>'),
                $th = $('<thead>');

            for (i = 0; i < columns.length; i++) {
                $th.append($('<td>', { text: columns[i] }));
            }
            $th.appendTo($table);

            for (i = 0; i < values.length; i++) {
                var $tr = $('<tr>'),
                    row = values[i];

                for (i = 0; i < row.length; i++) {
                    $tr.append($('<td>', { text: row[i] }));
                }
                $tr.appendTo($table);
            }

            $debug.append($table);
        }

        $debug.siblings('.debug-title').one('click', function(e) {
            e.preventDefault();
            $(this).remove();
            $debug.show();
        });
    })();


</script>