<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title></title>

        <style type="text/css">
            a {
                color: #2d3b4f;
            }
        </style>
    </head>

    <body style="margin:0; padding:0; background-color:#F2F2F2;">
        <center>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
                <tr>
                    <td align="center" height="100%" valign="top" width="100%">
                        <!--[if (gte mso 9)|(IE)]>
                            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                            <td align="center" valign="top" width="600">
                        <![endif]-->
                        <br/><br/>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;" bgcolor="#ffffff">
                            <tr>
                                <td bgcolor="#2d3b4f">
                                    <table align="center">
                                        <tr><td height="35">&nbsp;</td></tr>
                                        <tr>
                                            <td align="center" valign="top" style="font-size:14px;">

                                                <img src="https://zhr3.co.uk/logo-transparent-small.png" width="300" height="99" style="margin:0; padding:0; border:none; display:block;" border="0" alt="Defend the Web" /> 

                                            </td>
                                        </tr>
                                        <tr><td height="35">&nbsp;</td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="margin-left:20px; margin-right:20px;" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr><td height="35">&nbsp;</td></tr>
                                            
                                            {% block html %}{% endblock %}

                                            <tr><td height="35">&nbsp;</td></tr>

                                            {% if unsubscribe %}
                                                <tr>
                                                    <td style="font-family: 'Lato', sans-serif; font-size:10px; color:#aaa; line-height:10px; font-weight: 300;" align="center">
                                                        <p>You're getting this email because you have an account with <a href='https://defendtheweb.net' style='color: #2d3b4f'>Defend the Web</a>.</p>
                                                        <p>You can stop getting these updates by unsubscribing <a href='{{ unsubscribe }}' style='color: #2d3b4f'>here</a>.</p>
                                                    </td>
                                                </tr>

                                                <tr><td height="10">&nbsp;</td></tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br/><br/>
                        <!--[if (gte mso 9)|(IE)]>
                            </td>
                            </tr>
                            </table>
                        <![endif]-->
                    </td>
                </tr>
            </table>
        </center>
    </body>

</html>