{% extends 'emails/base.twig' %}

{% block html %}
    <tr>
        <td style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#333;" align="center">Hello {{ username }}</td>
    </tr>

    <tr><td height="10">&nbsp;</td></tr>

    <tr>
        <td style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;" align="center">
            <p>
                We have received a request to reset a Defend the Web account password associated with this email. If you want to change your password <a href='{{link}}' style='color: #2d3b4f'>click here</a>.
            </p>
            <p>If you did not request to have your password reset, you can safely ignore this email.</p>
        </td>
    </tr>
{% endblock %}