{% set title = course.title ~ ' Playground' %}
{% set queue = queue('classes', 'sidebar', 'playground') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container levels">

        {% include 'includes/flash.twig' %}

        <div class="block">
            <div class="row block-content">
                <div class="nine columns">
                    {% include 'playground/includes/next-level.twig' %}

                    <div class="block levels-list" >
                        <div class="block-heading levels-header">
                            <div class="right button-group button-group--small button-group--dropdown">
                                {% if user.hasPrivilege('playground.edit') %}
                                    <a class="button mobile-hide" href="/playground/new">New level</a>
                                {% endif %}

                                <a class="button button-dropdown-show" data-toggle="ul" data-toggle-unfocus href="#">
                                    Sort <i class="fas fa-sort" aria-hidden="true"></i>
                                </a>
                                <ul class="button-dropdown-menu">
                                    <li><a href='#' data-sort="level-title" data-sort-type="alphanumeric">Title</a></li>
                                    <li><a href='#' data-sort="level-status" data-sort-type="alphanumeric">Status</a></li>
                                    <li><a href='#' data-sort="level-difficulty" data-sort-type="bronze,silver,gold">Difficulty</a></li>
                                    <li><a href='#' data-sort="level-completed" data-sort-type="numeric">Users completed</a></li>
                                    <li><a href='#' data-sort="level-success" data-sort-type="numeric">Success rate</a></li>
                                </ul>
                            </div>
                            <h1>{% if subject %}{{ subject.name }} Levels{% else %}Playground{% endif %}</h1>
                        </div>
                        <div class="block-content">
                            <ul data-sortable>
                                {% for l in levels %}
                                    {% set level = getLevel(l.ID) %}
                                    {% if not subject or level.subject == subject.name %}
                                        <li class="{{ attribute(user.levels, level.ID).hasCompleted ? 'level-completed' : '' }}">
                                            <a href='/playground/{{ level.slug }}'>
                                                <div class="level-status mobile-hide">
                                                    [{{ attribute(user.levels, level.ID).hasCompleted ? '∴' : (attribute(user.levels, level.ID).started ? '_' : '&nbsp;') }}]
                                                </div>
                                                <div class="level-title">
                                                    {{ level.title }}
                                                    {% if not subject and level.subject %}
                                                        / {{ level.subject }}
                                                    {% endif %}
                                                </div>
                                                <div class="level-difficulty" title="{{ level.title }} difficulty">{{ level.difficulty }}</div>
                                                <div class="level-completed" title="Number of users who completed {{ level.title }}"><span class="mobile-show">Completions: </span>{{ level.meta.stats.completed|number_format }} </div>
                                                <div class="level-success" title="Success rate for {{ level.title }}"><span class="mobile-show">Pass rate: </span>{{ level.meta.stats.completedPercentage }}%</div>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="three columns">
                    {% include 'includes/advert.twig' %}

                    {% include 'playground/includes/subjects.twig' %}

                    {% include 'playground/includes/submit.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}