{% set title = level.title %}
{% set queue = queue('classes', 'sidebar', 'playground') %}
{% set queue2 = queue('scripts', '/js/playground.min.js') %}
{% extends 'layout/main.twig' %}

{% set justCompleted = level.flash.type == 'success' %}

{% block content %}
    <div id="content" class="container container--wide course">
        <div class="row">
            <div class="eight columns">
                <div class="block">
                    <div class="block-heading block-heading--{{ level.hasCompleted() ? 'primary' : 'secondary' }}">
                        {% if level.getNextLevel() %}
                            <div class="right">
                                <a href='{{ level.getNextLevel() }}' class="next-level">Next level <i class="fas fa-angle-right"></i></a>
                            </div>
                        {% endif %}
                        <h1>
                            {{ level.title }}
                            {% if level.subject %}
                                / {{ level.subject }}
                            {% endif %}
                        </h1>
                        <span class="user-status">
                            <i class="fa fa-medal c-{{ level.difficulty }}"></i> <span class="c-subtle">/</span> 
                            <span>{{ level.hasCompleted() ? 'Completed' : 'In progress' }}</span>
                            {% if level.hasCompleted() %}
                                {{ attribute(user.levels, level.ID).started|ago }} <span class="c-subtle">/</span> 
                                {{ attribute(user.levels, level.ID).started|ago(attribute(user.levels, level.ID).finished, false) }} to complete
                            {% elseif attribute(user.levels, level.ID).started %}
                                <span class="c-subtle">/</span> Started {{ attribute(user.levels, level.ID).started|ago }}
                            {% endif %}
                        </span>
                    </div>

                    <div class="block-content row level">
                        {% include 'includes/flash.twig' %}
                        
                        {% include 'playground/levels/' ~ level.template ~ '.twig' ignore missing %}
                    </div>
                </div>

                {% if level.meta.extras and not justCompleted %}
                    <div class="block">
                        <div class="block-content">
                            {{ level.meta.extrasSafe|raw }}
                        </div>
                    </div>
                {% endif %}

                {% include 'includes/flash.twig' with { group: 'playground.notes' } %}
                {% include 'includes/form.twig' with { form: level.getNotesForm } %}
            </div>

            <div class="four columns">
                <div class="block level-stats level-stats--progress">
                    {% if level.meta.stats.completed > 0 %}
                        <div class="block-heading">
                            <h3>
                                {{ level.meta.stats.completed|number_format }}
                                <span class="small">completed</span>
                            </h3>
                        </div>
                    {% endif %}
                    <div class="block-content">

                        <div class="block">
                            {% include 'playground/includes/progress-bar.twig' %}
                        </div>

                        {% include 'playground/includes/graph.twig' %}
                    </div>
                </div>

                {% if level.meta.stats.first %}
                    {% include 'profile/rollup.twig' with {profile: getUser(level.meta.stats.first[0]), title: '<i class="fas fa-trophy c-gold" aria-hidden="true"></i> First completed', small: true, content: level.meta.stats.first[1]|ago } %}
                {% endif %}

                {% if level.meta.stats.last and level.meta.stats.first[0] != level.meta.stats.last[0] %}
                    <div class="block">
                        <div class="block-content">
                            Last completed by {{ getUser(level.meta.stats.last[0]).getLink()|raw }} {{ level.meta.stats.last[1]|ago }}
                        </div>
                    </div>
                {% endif %}

                <div class="button-group  mobile-hide">
                    {% if user.hasPrivilege('playground.edit') %}
                        <a class="button button--wide" href="{{ uri }}/edit">Edit level</a>
                    {% else %}
                        <!-- <a class="button button--wide" href="/discussions/playground-help/new?level={{ level.ID }}">View discussions</a> -->
                    {% endif %}
                    <a class="button button--wide" href="/help/contact?message={{ 'There is an issue with level "' ~ title ~ '"'|url_encode() }}">Report issue</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}