{% set code = code ? code : 404 %}

{% set title = code %}
{% set queue = queue('classes', 'error') %}
{% extends 'layout/base.twig' %}

{% block html %}
    <div id="content" class="container container--wide">
        <h1>{{ code }}</h1>
        {% if message %}
            <h3>{{ message }}</h3>
        {% endif %}

        <ul>
            <li><a href='/dashboard'><i class="fas fa-xs fa-fw fa-arrow-left"></i> back to dashboard</a></li>
        </ul>
        <ul>
            <li><a href='/articles'><i class="far fa-xs fa-fw fa-file-alt"></i> articles</a></li>
            <li><a href='/playground'><i class="fas fa-xs fa-fw fa-terminal"></i> playground</a></li>
            <li><a href='/discussions'><i class="far fa-xs fa-fw fa-comments"></i> discussions</a></li>
        </ul>
        <ul>
            <li><a href='/help/contact'><i class="far fa-xs fa-fw fa-envelope"></i> contact us</a></li>
        </ul>
    </div>
{% endblock %}