{% set queue = queue('classes', 'sidebar') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        {% if not hideTitle %}
            <h1>{{ breadcrumb|keys|last }}</h1>
        {% endif %}

        {% if not hideBack %}
            {% include 'includes/back.twig' %}
        {% endif %}
    
        {% if forms is defined %}
            {% for form in forms %}
                {% include 'includes/form.twig' with { form: form, showFlash: true } %}
            {% endfor %}
        {% else %}
            {% include 'includes/form.twig' with { form: form, showFlash: true } %}
        {% endif %}
    </div>
{% endblock %}