{% set title = 'An Interactive Cyber Security Platform' %}
{% set canonical = site.domain %}
{% set queue = queue('classes', 'home') %}
{% set queue = queue('scripts', '/js/home.min.js') %}
{% extends 'layout/base.twig' %}

{% block html %}

    {% if hackthis %}
        <div class="hackthis-intro">
            <div class="container">
                <h2>Welcome HackThis!! user</h2>
                <p>HackThis!! has been re-branded and is now called Defend the Web. Under the surface nothing has changed, this site is still run by the same great team and offers the same range of challenges and articles.</p>
                <p>Already have a HackThis!! account? <a href='/auth'>Click here</a> to login with the same details to get access to all your old content.</p>
            </div>
        </div>
    {% endif %}


    <div id="header">
        <div class='splash-overlay'></div>
        {% include 'includes/nav.twig' %}
        <div class="logo">
            <h1>Defend the Web</h1>
            <div class="small">An Interactive Cyber Security Platform</div>
            {% if user %}
                <a href="/dashboard" class="button button--main">Go to Dashboard</a>
                <div class="small c-white">
                    Welcome back, {{ user.username }}
                </div>
            {% else %}
                <a href="/dashboard" class="button button--main">Get started</a>
                <div class="small">
                    <a href="/auth">Login</a> | <a href="/auth/signup">Sign up</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% include 'includes/flash.twig' %}
    </div>

    <div class="section section--onboarding">
        <div class="container">
            <div class="row center">
                <div class="columns seven center">
                    <h2>Let's protect the web together</h2>
                    <p>Defend the Web is an interactive security platform where you can learn and challenge your skills. Try and complete all of our {{ playgroundLevelCount }}+ hacking levels. Learn from our series of articles covering all aspects of security. Articles will guide you through the essentials to get started. As you progress more complex topics will be introduced to build up your knowledge.</p>
                </div>
            </div>

            <div class="row onboarding">
                <div class="columns four onboarding-image">
                    <img src="{{ site.static }}/stock/landing_learn_2.svg"/>
                </div>
                <div class="columns eight onboarding-description">
                    <h2>Learn</h2>
                    <p>Work your way through our <strong>{{ articlesPublished }}+ articles</strong>. Explore a wide range of security topics with easy to read articles and interactive challenges. Each topic will be analyzed and explored in detail in manageable and easy to understand chunks.</p>
                </div>
            </div>
            <div class="row onboarding">
                <div class="columns eight onboarding-description">
                    <h2>Challenge</h2>
                    <p>Take our challenges to test your knowledge against real world scenarios. Challenges can be taken at anytime and will put everything you have learnt to the test. Our <strong>{{ playgroundLevelCount }}+ challenges</strong> have been completed over <strong>{{ playgroundLevelCompleted }} times</strong> so you are in good hands if you get stuck.</p>
                </div>
                <div class="columns four onboarding-image">
                    <img src="{{ site.static }}/stock/landing_challenge.svg"/>
                </div>
            </div>
            <div class="row onboarding">
                <div class="columns four onboarding-image">
                    <img src="{{ site.static }}/stock/landing_collaboration.svg"/>
                </div>
                <div class="columns eight onboarding-description">
                    <h2>Collaborate</h2>
                    <p>Join the vibrant community of hackers, developers and security experts and share your knowledge and learn from others. Give and receive hints and tips with the community through our discussion boards. Find new areas of interest both on and off topic.</p>
                </div>
            </div>
            <div class="row onboarding">
                <div class="columns eight onboarding-description">
                    <h2>Progress</h2>
                    <p>Keep track of all your activity, racking up points in the challenges and earning medals. Connect with over <strong>{{ userCount }} members</strong> and see how you rank up.</p>
                </div>
                <div class="columns four onboarding-image">
                    <img src="{{ site.static }}/stock/landing_progress.svg"/>
                </div>
            </div>
        </div>
    </div>

    <div class="section section--latest-topics">
        <div class="container">
            {% include 'articles/article-picks.twig' with { articlePicks: articlePicks, older: true, title: 'Top Articles' } only %}
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="eight columns">
                    <h3>Disclaimer</h3>
                    <p>The owner of this site does not accept responsibility for the actions of any users of this site. Users are solely responsible for any content that they place on this site. This site does not encourage or condone any illegal activity, or attempts to hack into any network where they do not have authority to do so. </p>
                </div>
                <div class="two columns">
                    <h3>Links</h3>
                    <p><a href='/articles'>Articles</a><br/>
                    <a href='/discussions'>Discussions</a><br/>
                    <a href='/help/contact'>Contact us</a></p>
                </div>
                <div class="two columns">
                    <h3>Legal</h3>
                    <p><a href='/legal/privacy'>Privacy Policy</a><br/>
                    <a href='/legal/terms'>Terms of Use</a><br/>
                    <a href='/help/conduct/code-of-conduct'>Code of Conduct</a></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}