{% set queue = queue('classes', 'sidebar', 'discussion') %}
{% set queue2 = queue('scripts', '/js/discussions.min.js') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide">
        <div class="row">
            <div class="nine columns">
                {% include 'includes/form.twig' with { form: form, showFlash: true } %}
            </div>
            <div class="three columns">
                <div class="block">
                    <div class="block-heading">
                        <h2>Guidelines</h2>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li>Give it a good title and proof-read before posting! You'll get the best response if people know what you are talking about</li>
                            <li>No harassment/trolling/abuse of other users</li>
                            <li>Do not spam</li>
                            <li>Spoilers are only allowed in the playground / spoilers topic</li>
                            <li>Self promotion is allowed as long as it's relevant. Creating multiple threads for the same product or service will not be tolerated</li>
                        </ul>
                        <div class="button-group">
                            <a href='/help/discussions/general' class='button button--secondary' style='width: 100%'>Help</a><br/>
                            <a href='/help/conduct/code-of-conduct' class='button button--secondary' style='width: 100%'>Rules</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var levelsCompleted = "{{ levels|json_encode|raw }}";
        </script>

    </div>
{% endblock %}