{% if post.author %}
    {% set author = getUser(post.author) %}
{% endif %}

<div id="post-{{ post.id }}" class="
    discussion-thread-message block
    {% if post.deleted and not item.flag %}
        discussion-thread-message--deleted block--clean
    {% else %}
        {% if post.root %}
            discussion-thread-message--root
        {% else %}
            discussion-thread-message--reply
        {% endif %}
        {% if post.id and post.id == item.flag.post_id %}
            discussion-moderation-target
        {% endif %}
        {% if post.id and post.id == thread.answer %}
            discussion-thread-message--answer
        {% endif %}
        {% if post.deleted %}
            discussion-thread-message--removed
        {% endif %}
    {% endif %}
" data-post-id="{{ post.id }}">
    <div class="block-content">

        {% if post.id and post.id == item.flag.post_id %}
            <div class="discussion-moderation-controls">
                {% if item.flag.resolved %}
                    <h3>Flag {{ item.flag.resolved == 1 ? 'actioned' : 'dismissed' }}</h3>
                    <ul>
                        {% for vote in item.flag.votes %}
                            {% set profile = getUser(vote.user_id) %}
                            <li>
                                {{ profile.getLink()|raw }}
                                voted to {{ vote.response }}
                                <div class="right">
                                    {{ vote.time|ago }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% elseif item.flag.response %}
                    <p style="margin-top: 0">You voted to: <strong>{{ item.flag.response }}</strong></p>
                {% else %}
                    <a href='?action=dismiss' class="button button--main" csrf>Looks ok</a>
                    <a href='?action=escalate' class="button button--main" csrf>Escalate</a>
                    <a href='?action=delete' class="button button--main button--warning" csrf>Delete</a>
                    <a href='?action=skip' class="button button--main right" csrf>Skip</a>
                {% endif %}

                {% if item.flag.comment %}
                    <p>{{ item.flag.comment }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if post.deleted and not item.flag %}
            <em>{{ pluralize(post.deleted, 'Reply has been removed', '%d replies have been removed', '') }}</em>
        {% else %}
            <div class="discussion-thread-message-container">
                <div class="discussion-thread-message-header">
                    <div class="discussion-thread-message-sidebar">
                        {% if author %}
                            {{ getImage(author.avatar, "navatar")|raw }}
                        {% endif %}
                    </div>
                    <div class="discussion-thread-message-meta">
                        {% if post.id != item.flag.post_id and user %}
                            <div class="right">
                                <div class="button-group button-group--small right button-group--dropdown">
                                    {% if not item.flag %}
                                        {% if not post.root and thread.isAuthor %}
                                            {% if not thread.answer %}
                                                <a class="button mobile-hide" href="{{ thread.permalink }}/{{ post.id }}/answer" csrf>Mark as answer</a>
                                            {% elseif thread.answer and thread.answer == post.id %}
                                                <a class="button mobile-hide" href="{{ thread.permalink }}/unanswer" csrf>Unmark as answer</a>
                                            {% endif %}
                                        {% elseif not post.isAuthor and not thread.locked %}
                                            <a class="button mobile-hide" data-reply>Reply</a>
                                        {% endif %}

                                        <a class="button button-dropdown-show" data-toggle="ul" data-toggle-unfocus href="#">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </a>
                                        <ul class="button-dropdown-menu">
                                            {% if not item.flag %}
                                                {% if post.root and (thread.isAuthor or user.hasPrivilege('discussions.flags')) %}
                                                    {% if not thread.spoiler %}
                                                        <li><a href='{{ thread.permalink }}/spoiler' csrf>Mark as spoiler</a></li>
                                                    {% else %}
                                                        <li><a href='{{ thread.permalink }}/unspoiler' csrf>Unmark as spoiler</a></li>
                                                    {% endif %}
                                                {% endif %}
                                                {% if post.isEditable %}
                                                    {% if post.root and thread.locked %}
                                                        <li><a href='{{ thread.permalink }}/unlock' csrf>Unlock thread</a></li>
                                                    {% elseif post.root %}
                                                        <li><a href='{{ thread.permalink }}/lock' csrf>Lock thread</a></li>
                                                    {% endif %}
                                                    <li><a href='{{ thread.permalink }}/{{ post.id }}/edit'>Edit{% if post.root %} thread{% endif %}</a></li>
                                                    {% if post.root %}
                                                        <li><a href='{{ thread.permalink }}/delete' csrf>Delete thread</a></li>
                                                    {% else %}
                                                        <li><a href='{{ thread.permalink }}/{{ post.id }}/delete' data-delete>Delete</a></li>
                                                    {% endif %}
                                                {% endif %}
                                                {% if not post.isAuthor and not thread.locked %}
                                                    <li class="mobile-show"><a href='#' data-reply>Reply</a></li>
                                                {% endif %}
                                                {% if not post.isAuthor %}
                                                    <li><a href='#' data-report>Report</a></li>
                                                {% endif %}
                                            {% endif %}
                                        </ul>

                                    {% else %}
                                        <a class='button' href='#' data-report>Report</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if author %}
                            {{ author.getLink('class="discussion-thread-message-author"')|raw }}
                        {% else %}
                            <span class="discussion-thread-message-author small">[deleted user]</span>
                        {% endif %}

                        <br/>
                        {{ post.posted|ago }}

                        {% if post.updated %}
                            | edited {{ post.updated|ago }}
                        {% endif %}

                        {% if post.reply_to %}
                            | <a href='#post-{{ post.reply_to }}'>reply to #{{ post.reply_to }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="discussion-thread-message-main">
                    <div class="discussion-thread-message-sidebar">
                        <div class="discussion-thread-message-karma center c-subtle" title="Karma">
                            {% if not post.isAuthor %}
                                <a href="{{ thread.permalink }}/{{ post.id }}/vote?up" data-karma="up" class="fas fa-angle-up active"></a><br/>
                            {% endif %}

                            <h3>{{ post.karma|number_format }}</h3>

                            {% if not post.isAuthor and user.profile.reputation >= 50 %}
                                <a href="{{ thread.permalink }}/{{ post.id }}/vote?down" data-karma="down" class="fas fa-angle-down"></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="discussion-thread-message-content">
                        {{ post.message.html|raw }}
                    </div>
                </div>
                {% if author.getSignature() %}
                    <div class="discussion-thread-message-footer">
                        <div class="discussion-thread-message-sidebar">
                            &nbsp;
                        </div>
                        <div class="discussion-thread-message-content">
                            {{ author.getSignature()|raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>