{% set queue = queue('classes', 'sidebar', 'stats') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide">

        <div class="row">
            <div class="nine columns">
                {% include 'includes/flash.twig' %}

                <div class="block block--leaderboard">
                    <div class="block-heading">
                        <h2>Leaderboard</h2>

                        <div class="right button-group button-group--small button-group--dropdown">
                            <a class="button button-dropdown-show" data-toggle="ul" data-toggle-unfocus href="#">
                                {{ sort|capitalize }} <i class="fas fa-sort" aria-hidden="true"></i>
                            </a>
                            <ul class="button-dropdown-menu">
                                <li><a href='?sort=reputation'>Reputation</a></li>
                                <li><a href='?sort=points'>Points</a></li>
                            </ul>
                        </div>
                        <h4>Sorted by {{ sort }}</h4>
                    </div>
                    <div class="block-content">
                        {% set notInList = true %}
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="mobile-hide"></th>
                                    <th>Username</th>
                                    <th>Progress</th>
                                    <th title="Number of points awarded from playground">Points</th>
                                    <th title="Total reputation">Reputation</th>
                                    <th class="mobile-hide">Joined</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for userID in leaderboard %}
                                    {% set profile = getUser(userID) %}
                                    {% if userID == user.id %}
                                        {% set notInList = false %}
                                    {% endif %}
                                    <tr class="{{ userID == user.id ? 'highlight' : '' }}">
                                        <td>
                                            {% if profile.isPrivacyEnabled('leaderboard') %}
                                                -
                                            {% else %}
                                                {{ profile.getRank().joint? '~' : '' }}{{ profile.getRank().rank|number_format }}
                                            {% endif %}
                                        </td>
                                        <td class="mobile-hide">
                                            <a href='{{ profile.permalink }}'>{{ getImage(profile.avatar, "navatar")|raw }}</a>
                                        </td>
                                        <td>{{ profile.getLink()|raw }}</td>
                                        <td>
                                            <div class="progress progress--small">
                                                <div class="progress-bar" style="width: {{ profile.levelProgress }}%"></div>
                                            </div>
                                        </td>
                                        <td>{{ profile.points|number_format }}</td>
                                        <td>{{ profile.reputation|number_format }}</td>
                                        <td class="mobile-hide">{{ profile.created|ago }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% if notInList %}
                            <table>
                                <tbody>
                                    {% set profile = getUser(user.id) %}
                                    <tr class="highlight">
                                        <td>
                                            {% if profile.isPrivacyEnabled('leaderboard') %}
                                                -
                                            {% else %}
                                                {{ profile.getRank().joint? '~' : '' }}{{ profile.getRank().rank|number_format }}
                                            {% endif %}
                                        </td>
                                        <td class="mobile-hide">
                                            <a href='{{ profile.permalink }}'>{{ getImage(profile.avatar, "navatar")|raw }}</a>
                                        </td>
                                        <td>{{ profile.getLink()|raw }}</td>
                                        <td>
                                            <div class="progress progress--small">
                                                <div class="progress-bar" style="width: {{ profile.levelProgress }}%"></div>
                                            </div>
                                        </td>
                                        <td>{{ profile.points|number_format }}</td>
                                        <td>{{ profile.reputation|number_format }}</td>
                                        <td class="mobile-hide">{{ profile.created|ago }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="three columns">
                <div class="block">
                    <div class="block-heading"><h2>In numbers</h2></div>
                    <div class="block-content">
                        <p>
                            {{ stats.users.count|number_format }} users<br/>
                            {{ stats.users.online|number_format }} online
                        </p>
                        <p>
                            {{ stats.discussions.threads|number_format }} threads<br/>
                            {{ stats.discussions.replies|number_format }} replies<br/>
                            {{ stats.discussions.voices|number_format }} voices
                        </p>
                        <p>
                            {{ stats.levels.count|number_format }} live levels<br/>
                            {{ stats.levels.completed|number_format }} levels completed
                        </p>
                        <p>
                            {{ stats.articles.published|number_format }} published articles<br/>
                        </p>
                    </div>
                </div>

                {% include 'includes/advert.twig' %}
            </div>
        </div>

    </div>

{% endblock %}