<div class="block">
    <div class="block-heading">
        <h3>Articles</h3>
    </div>
    <div class="block-content">

        {% for a in articles %}
            {% set article = getArticle(a.id) %}

            <div class="article">
                <a href='{{ article.permalink }}'><h3>{{ article.titleSafe|raw }}</h3></a>
                <p>
                    {{ article.content.safe|raw|truncate(80) }} <a href='{{ article.permalink }}' class="button button--small">Read more</a>
                </p>
            </div>
        {% endfor %}

    </div>
</div>