{% set queue = queue('classes', 'sidebar', 'admin') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--full admin">
        <div class="row">

            <div class="nine columns">

                <div class="row">
                    <div class="four columns">
                        <div class="block">
                            <div class="block-heading"><h2>Discussions</h2></div>
                            <div class="block-content">
                                {% for item in stats.discussions %}
                                    <strong>{{ item.title }}:</strong> {{ item.count ? item.count : 0 }}<br/>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-heading"><h2>Queues</h2></div>
                            <div class="block-content">
                                <strong>Emailer:</strong> {{ stats.queues.emailer.queued|number_format }} <span class='small'>[{{ stats.queues.emailer.processing|number_format }}]</span><br/>
                            </div>
                        </div>
                    </div>
                    <div class="four columns">
                        <div class="block">
                            <div class="block-heading"><h2>Tickets</h2></div>
                            <div class="block-content">
                                {% for status, count in stats.tickets %}
                                <strong>{{ status|capitalize }}:</strong> {{ count }}<br/>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-heading"><h2>Articles</h2></div>
                            <div class="block-content">
                                <strong>Total:</strong> {{ stats.articles.count|number_format }}<br/>
                                <strong>Published:</strong> {{ stats.articles.published|number_format }}
                            </div>
                        </div>
                    </div>
                    <div class="four columns">
                        <div class="block">
                            <div class="block-heading"><h2>Redis</h2></div>
                            <div class="block-content">
                                <strong>Version:</strong> {{ redisInfo.Server.redis_version }}<br/>
                                <strong>Uptime:</strong> {{ redisInfo.Server.uptime_in_days }} days<br/>
                                <strong>Total commands:</strong> {{ redisInfo.Stats.total_commands_processed|number_format }}<br/>
                                <strong>Used memory:</strong> {{ redisInfo.Memory.used_memory_human }}<br/>
                                <strong>Keys:</strong> {{ redisInfo.Keyspace.db0.keys }}<br/>
                            </div>
                        </div>

                        <div class="block">
                            <div class="block-heading"><h2>ElasticSearch</h2></div>
                            <div class="block-content">
                                <strong>Searches:</strong> {{ searchInfo.total.searches|number_format }}<br/>
                                <strong>Size:</strong> {{ (searchInfo.total.size/125000)|number_format }} Mb<br/>
                                {% for key, index in searchInfo.indices %}
                                <strong>{{ key|capitalize }}:</strong> {{ index.items|number_format }}<br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <div class="block">
                            <div class="block-heading"><h2>Logs</h2></div>
                            <div class="block-content">
                                <pre style="height: 25em; overflow-y: scroll; margin: 0">{{ log|split('\n')|reverse|join('\n') }}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="three columns">
                <div class="block">
                    <div class="block-heading"><h2>Stats</h2></div>
                    <div class="block-content">
                        <h4>Users</h4>
                        <p>
                            <strong>Total:</strong> {{ stats.users.total|number_format }}<br/>
                            <strong>Online:</strong> {{ stats.users.online|number_format }}<br/>
                            <strong>Active:</strong> {{ stats.users.active|number_format }}<br/>
                            <strong>New (day):</strong> {{ stats.users.new.day|number_format }}<br/>
                            <strong>New (week):</strong> {{ stats.users.new.week|number_format }}<br/>
                            <strong>New (month):</strong> {{ stats.users.new.month|number_format }}
                        </p>

                        <h4>Levels</h4>
                        <p>
                            <strong>Live:</strong> {{ stats.levels.count|number_format }}<br/>
                            <strong>Completed:</strong> {{ stats.levels.completed|number_format }}
                        </p>

                        <h4>Discussions</h4>
                        <p>
                            <strong>Threads:</strong> {{ stats.discussions.threads|number_format }}<br/>
                            <strong>Replies:</strong> {{ stats.discussions.replies|number_format }}
                        </p>
                    </div>
                </div>

                <div class="block">
                    <div class="block-heading"><h2>Utils</h2></div>
                    <div class="block-content">
                        <a href='/admin?action=flushAll' class='button button--wide button--main' csrf>Flush all</a>
                        <a href='/admin?action=flushSearch' class='button button--wide' csrf>Flush search</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}