{% set queue = queue('classes', 'sidebar', 'course') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide">
        {% include 'includes/back.twig' %}

        {% if not editing %}
            <div class="block">
                <div class="block-heading"><h2>Submitting a new article</h2></div>
                <div class="block-content"> 
                    Articles typically run from 400 to 1,200 words, but submissions of any length will be considered. All submissions must be original. We will not consider articles that have already been published, in any form, unless your claim as original author can be verified or consent from the original author has been obtained.
                </div>
            </div>
        {% endif %}

        {% include 'includes/form.twig' with { form: form, showFlash: true, controls: (editing ? [{ title: 'View article', href: article.permalink }] : false) } %}

        {% if revisions %}
            <div class="block">
                <div class="block-heading"><h2>Article revisions</h2></div>
                <div class="block-content">
                    <ul class="list">
                        {% for revision in revisions %}
                            {% set user = getUser(revision.user_id) %}
                            <li>
                                <span class="right">
                                    <a href='{{ user.permalink }}'>{{ user.username }}</a> | {{ revision.date }}
                                </span>
                                <a href='{{ loop.parent.article.permalink }}/{{ revision.revision_id }}' target='_blank'>
                                    Revision #{{ loop.length - loop.index0 }} - {{ revision.status }}{{ revision.log ? ': ' ~ revision.log : '' }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}