<div class="block block--highlight">
    <div class="block-heading"><h3>Article idea?</h3></div>
    <div class="block-content">
        <p>Submit your article ideas and teach others</p>
        <a href='/articles/submit' class='button button--wide'>Submit article</a>
    </div>
</div>