{% set title = topic.title ~ ' | Articles' %}
{% set queue = queue('classes', 'sidebar', 'article') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide article-topics">
        {% include 'includes/flash.twig' %}
        {% include 'includes/back.twig' %}


        <div class="block">
            <div class="block-heading">
                <h1>{{ topic.title }}</h1>
            </div>
            <div class="block-content">
                {% if topic.descriptionSafe %}<p>{{ topic.descriptionSafe|raw }}</p>{% endif %}

                {% if topic.articles is iterable %}
                    <ul class="list">
                        {% for articleID in topic.articles %}
                            {% set article = getArticle(articleID) %}
                            {% set author = getUser(article.author) %}
                            <li class="row link">
                                <a href='/article/{{ article.slug }}'>
                                    <div class="six columns">
                                        {{ article.title }}
                                    </div>

                                    {% if topic.slug == 'drafts' %}
                                        <div class="two columns align-right">
                                            <i class="far fa-user"></i> You
                                        </div>
                                        <div class="two columns align-right">
                                            {{ article.status }}
                                        </div>
                                    {% else %}
                                        <div class="two columns align-right" title="View count">
                                            <i class="far fa-eye"></i> {{ article.views|number_format }}
                                        </div>
                                        <div class="two columns align-right">
                                            {% if author %}
                                                <i class="far fa-user"></i> {{ author.getLink()|raw }}
                                            {% else %}
                                                <i class="far fa-user"></i> Unknown
                                            {% endif %}
                                        </div>
                                        <div class="two columns align-right" title="Estimated time to read">
                                            <i class="far fa-clock"></i> {{ pluralize(article.content.duration, '1 min', '%d mins', '1 min') }}
                                        </div>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if topic.slug == 'drafts' %}
                    <a class="button button--main button--wide" href="/articles/submit">Submit article</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}