.discussion-list {
    .discussion-list-sidebar {
        h3 {
            margin-bottom: 0.3em;
        }

        .discussion-list-sidebar-topics {
            margin-top: 2em;

            > ul {
                list-style: none;

                > li {
                    margin-bottom: 1px;

                    > a {
                        display: block;
                        padding: 6px 8px;
                        color: $link;

                        &:hover {
                            background: $primary !important;
                            color: white;
                        }

                        @include dark-mode {
                            color: $dark_link;
                        }
                    }

                    &.active {
                        > a {
                            background: $secondary;
                            color: white;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }

                    &.active-child {
                        > a {
                            background: $secondary;
                            color: white;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }

                    > ul {
                        list-style: none;
                        margin: 0;
                        margin-left: 1.5em;

                        > li {
                            margin: 0;

                            > a {
                                display: block;
                                padding: 6px 8px;

                            }

                            &.active {
                                > a {
                                    background: $primary;
                                    color: white;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .discussion-topic-details {
        padding: $padding * 2;
        text-align: center;
        background: $primary;
        color: white;
        margin-bottom: $padding;

        h2 {
            font-size: 3em;
            line-height: 1.5em;
            margin: 0;

        }

        p {
            margin: 0;
        }

        @media (max-width: $mobileWidth) {
            h2 {
                font-size: 2em;
            }
        }
    }

    .discussion-list-threads {
        margin:  2em 0 0.6em;

        .discussion-list-thread {
            padding: $padding;
            margin-bottom: 0.5em;
            border-width: 0;

            body.dashboard & {
                border-width: 1px;
            }

            &:nth-child(2n+1) {
                background: $accent;

                @include dark-mode {
                    background-color: $dark_accent;
                }

                body.dashboard & {
                    background: none !important;
                }
            }

            .feed-item-header {
                .discussion-list-topic {
                    flex-shrink: 0;
                    margin-left: 10px;
                }
            }

            &.discussion-list-thread--locked {
                opacity: 0.5;
            }

            &.discussion-list-thread--denied {
                position: relative;

                .feed-item-main {
                    filter: blur(2px);
                    opacity: 0.2;
                }

                .feed-item-denied {
                    position: absolute;
                    top: $padding;
                    left: $padding;
                    right: $padding;
                    bottom: $padding;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1em;
                }
            }
        }

    }

    @media (max-width: $mobileWidth) {
        .button.button--wide {
            margin: 1.5rem;
            width: auto !important;
        }

        .discussion-list-threads--sticky {
            margin-bottom: 3rem;
        }

        h3 {
            margin: 3rem 1.5rem 1rem;
        }
    }
}


.discussion-thread {

    .discussion-thread-message {
        overflow: visible;
        position: relative;

        &.highlight {
            box-shadow: 0px 0px 0px 2px $primary;
        }

        &.discussion-thread-message--answer {
            &::before {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-asterisk);
                text-align: right;

                color: white;
                padding: 7px 7px 0 0;
                font-size: 15px;

                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 50px;
                background: linear-gradient(to left bottom, $primary 49%, transparent 50%);
            }
        }

        &.discussion-thread-message--removed {
            background: repeating-linear-gradient(
                45deg,
                $error,
                $error 30px,
                $dark_block_bg 30px,
                $dark_block_bg 60px
            );

            color: white;

            a {
                color: white !important;
            }
        }

        .discussion-thread-message-container {

            .discussion-thread-message-header,
            .discussion-thread-message-main,
            .discussion-thread-message-footer {
                display: flex;
                flex-direction: row;
            }

            .discussion-thread-message-header {
                margin-bottom: 1em;

                .discussion-thread-message-meta {
                    font-size: 0.8em;

                    .discussion-thread-message-author {
                        font-size: 1.6em;
                        line-height: 1.5em;
                    }
                }
            }

            .discussion-thread-message-footer {
                margin-top: 3rem;
                .discussion-thread-message-content {
                    font-size: 0.9em;

                    p {
                        margin-bottom: 1rem;

                        img {
                            max-height: 150px;
                            width: auto;
                        }
                    }

                    &::before {
                        content: "";
                        margin-bottom: 1rem;
                        display: block;
                        border-top: 1px solid $text_subtle;
                        opacity: 0.3;
                        width: 5em;
                    }
                }
            }

            .discussion-thread-message-sidebar {
                flex: 0 0 40px;
                margin-right: 20px;

                img {
                    display: block;
                }

                .discussion-thread-message-karma {
                    h3 {
                        line-height: 1em;
                        margin-bottom: 0;
                        margin-top: 0.2em;
                    }

                    &.discussion-thread-message-karma--up {
                        [data-karma=up] {
                            opacity: 0.3;
                        }

                        h3 {
                            color: $primary;
                        }
                    }

                    &.discussion-thread-message-karma--down {
                        [data-karma=down] {
                            opacity: 0.3;
                        }

                        h3 {
                            color: $error;
                        }
                    }
                }
            }

            .discussion-thread-message-meta,
            .discussion-thread-message-content {
                flex: 1 1 auto;
            }



            .discussion-thread-message-main {
                p:last-child {
                    margin-bottom: 0;
                }

                .discussion-thread-message-content {
                    font-size: 1.1em;

                    ul, ol {
                        padding-left: 0;
                        list-style-position: outside;

                        li {
                            margin-bottom: 0.3em;

                            p {
                                display: inline;
                            }
                        }
                    }

                    ul { 
                        list-style-type: disc;
                    }

                    ol { 
                        list-style-type: decimal;
                    }

                    ul ul, ol ul { 
                        list-style-type: circle;
                        margin-left: 15px; 
                    }

                    ol ol, ul ol { 
                        list-style-type: lower-latin;
                        margin-left: 15px; 
                    }
                }
            }

        }

    }

    .discussion-thread-info .block-content {
        background: $primary !important;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        color: white;

        div {
            font-size: 2.2em;
            line-height: 1em;
            text-align: center;

            &.discussion-thread-info-images {
                cursor: pointer;
            }

            span {
                display: block;
                font-size: 1.2rem;
                line-height: 1em;
            }
        }
    }

    .discussion-thread-reply {
        .discussion-thread-reply-parent {
            > strong {
                margin: $padding 0;
                display: block;
            }
        }
    }



    @media (max-width: $mobileWidth) {
        > h1 {
            margin: 4rem 1.5rem 1rem;
        }

        .discussion-thread-message-main .discussion-thread-message-sidebar {
            display: none;
        }

        .discussion-thread-reply {
            margin: 2rem 1.5rem;
        }
    }

}


.discussion-scroll-indicator {
    @media (max-width: 1300px) {
        display: none;
    }

    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;

    a {
        display: block;

        &.button {
            margin-bottom: 10px;
        }

        &:not(.button) {
            width: 35px;
            display: inline-block;
        }
    }

    .discussion-scroll-indicator-position {
        padding: 5px;
    }
}


// Report thread
.discussions-report {
    list-style: none;

    li {
        margin-left: 26px;
        overflow: visible;

        input {
            float: left;
            margin: 4px 0 0 -24px;
        }

        .discussions-report-other {
            display: none;

            textarea {
                margin-top: 0.6em;
            }
        }
    }
}

html.no-js .discussion-scroll-indicator {
    display: none;
}