body.error {
    background: $secondary;
    color: white;

    #content {
        padding-top: 180px;

        @media (max-width: $mobileWidth) {
            padding: 0 2em;
        }

        ul {
            list-style: none;
            margin-bottom: 0;
            margin-top: 3.5rem;

            a {
                color: white;
                font-size: 1.1em;

                &:hover {
                    color: $primary;
                }

                i {
                    margin-right: 6px;
                }
            }
        }
    }
}