/* Header */
body > header,
body > #header > header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: $header_height;
    background: $header_bg;
    font-size: 1em;

    @include dark-mode() {
        background: $dark_header_bg;
    }

    @media (max-width: $mobileWidth) {
        text-align: center;
    }

    ul, li,
    ul ul, li li {
        list-style: none;
        margin: 0;
    }

    a.show-sidebar,
    a.back {
        width: 45px;
        line-height: $header_height;
        color: white;
        font-size: 22px;
        float: left;
        text-align: center;

        &.back {
            width: 40px;
        }

        @media (min-width: $desktopWidth) {
            display: none;
        }
    }

    a.logo {
        float: none;
        color: white;
        display: inline-block;
        font-size: 16px;
        line-height: $header_height;
        font-family: $text_header_font;
        letter-spacing: 2px;
        height: $header_height;
        width: $sidebar_width;
        padding: 0 12px;

        @media (max-width: $desktopWidth) and (min-width: $mobileWidth) {
            display: none;
        }

        @media (max-width: $mobileWidth) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    ul.breadcrumb {
        display: inline-block;
        border-left: 1px solid $sidebar_bg;
        height: 100%;
        position: absolute;
        top: 0;
        left: $sidebar_width - 1px;
        line-height: $header_height;
        padding: 0 20px;

        @include dark-mode() {
            border-color: $dark_sidebar_bg;
        }

        @media (max-width: $desktopWidth) {
            position: relative;
            left: 0;
        }

        @media (max-width: $mobileWidth) {
            display: none;
        }

        li {
            display: inline;
        
            a {
                color: white;
                display: inline-block;

                &:hover {
                    color: $primary;
                }
            }

            &:not(:first-child) {
                position: relative;
                padding-left: 26px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 25px;
                    display: inline-block;
                    background: transparent url("https://zhr3.co.uk/arrow.svg") no-repeat scroll center center;
                    transform: rotate(-90deg);
                    height: 25px;
                    top: 50%;
                    margin-top: -13px;
                    left: -1px;
                }
            }
        }
    }

    @import 'nav';
}