/* Homepage */
body.home {
    margin-top: 0;

    .hackthis-intro {
        display: block;

        background: black;
        color: white;
        min-height: 30vh;
        text-align: center;
        display: flex;
        align-items: center;

        h2 {
            color: green;
            font-size: 3.5rem;
            font-family: $text_header_font;
            letter-spacing: 0.1em;
        }

        .container p a {
            text-shadow: none;
            @include underline(black);
        }
    }

    #header {
        background: $secondary;
        background: linear-gradient(180deg, $secondary_hover 0%, $secondary 100%);
        height: 45vh;
        min-height: 300px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        header {
            display: none;

            a.show-sidebar {
                display: none;
            }

            a.logo {
                opacity: 0;
                cursor: default;
                transition: opacity 0.3s;
            }

            &.logo-visible {
                display: block;

                a.logo {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        .splash-overlay {
            position: absolute;
            top: -7px;
            right: -20px;
            bottom: 0;
            left: -20px;

            font-family: $text_mono_font;
            font-size: 16px;
            color: #404d60;
            text-align: center;
            line-height: 1.1em;
            text-shadow: 0px 1px 2px rgba(20,20,20, 0.1);

            opacity: 0.6;

            user-select: none;
            pointer-events: none;
        }

        > .logo {
            position: relative;
            overflow: hidden;

            text-align: center;
            letter-spacing: 4px;
            text-shadow: 0 0 10px rgba(20, 20, 20, 0.75);
            color: white;

            h1 {
                font-size: 3.5em;
            }
       
            .small {
                font-size: 1.4rem;
                color: white;
                line-height: 1.2em;
            }

            a {
                color: white;

                &:not(.button) {
                    font-family: $text_font;

                    &:hover {
                        color: $primary;
                    }
                }
            }

            a.button {
                font-size: 2rem;
                margin-top: 35px;
                margin-bottom: 15px;
                padding: 1em 3em;
            }
        }
    }

    .section {
        padding: 50px 0;

        // h3 {
        //     font-family: 'Lato', sans-serif;
        //     font-weight: 300;
        //     font-size: 2.4em;
        //     margin-bottom: 0.4em;
        //     color: $bg;
        // }

        &.section--onboarding {
            p {
                font-size: 1.2em;
                line-height: 1.6em;
            }

            .onboarding {
                display: flex;
                align-items: center;
                margin: 6em 0;
                text-align: left;

                .onboarding-description {
                    padding: 0 100px;

                    strong {
                        color: $primary;
                    }
                }

                .onboarding-image {
                    text-align: right;

                    &:first-child {
                        text-align: left;
                    }

                    img {
                        width: 300px;
                    }
                }
            }

            @media (max-width: $mobileWidth) {
                .onboarding {
                    .onboarding-image {
                        text-align: center !important;
                    }

                    .onboarding-description {
                        padding: 0;
                    }
                }
            }
        }
    }

    footer {
        padding: 50px 0;
        background: $secondary;
        color: white;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 0.4em;
        }

        .row .columns p {
            a {
                @include underline($secondary);
                color: white;

                &:hover {
                    color: $primary;
                }
            }
        }
    }


    @media (max-width: $mobileWidth) {
        #header {
            height: auto;
            padding: 50px 10px;

            > .logo {
                h1 {
                    font-size: 2.4em;
                }
            }
        }

        .section {
            padding: 2em;

            h3 {
                font-size: 2em;
                line-height: 1.2em;
            }

            .onboarding {
                flex-direction: column;
                margin: 2em 0 0 0;

                .onboarding-description {
                    padding: 0;
                    order: 2;
                }

                .onboarding-image {
                    order: 1;
                    text-align: center;
                    margin-bottom: 1em;

                    &:first-child {
                        text-align: center;
                    }

                    img {
                        height: 100px;
                        width: auto;
                    }
                }

            }
        }

        footer {
            padding: 2em;

            .columns {
                margin-bottom: 2em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }
}