/* Loader */
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    

    background-image: url('https://zhr3.co.uk/loader.png');

    margin: 3em auto 1em;
    display: block;
}
