[data-donator] {
    &::after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-heart);

        color: $primary;

        font-size: 0.7em;
        padding-left: 0.3em;
        vertical-align: middle;
        margin-top: -0.2em;
    }
}

// body.profile {

    .profile-meta {

        .block-heading {
            text-align: center;

            &.profile-meta-title {
                text-align: left;
            }

            .profile-avatar {
                max-width: 100%;
                max-height: 250px;
                margin-bottom: 1em;
            }

            .tags {
                .tag {
                    margin-left: 0;
                    margin-right: 0.5em;
                    margin-top: 1em;
                    font-size: 1em;

                    background: $accent;

                    @include dark-mode {
                        background: $dark_accent;
                    }
                }
            }

            h2 {
                color: $text;

                @include dark-mode {
                    color: $dark_text;
                }

                &:hover {
                    color: $primary !important;
                }
            }
        }
    }

    .profile-stat {
        font-size: 0.9em;
        overflow: hidden;
        display: flex;

        div {
            flex: 1;
            h3 {
                margin-bottom: 0.2em;
                font-size: 2.1em;
            }
            .right {
                font-size: 0.8em;
            }
        }
    }

// }




.profile-card {
    .block-content {
        display: flex;

        .profile-card-avatar {
            margin-right: 1em;

            img {
                max-height: 80px;
            }
        }

        .profile-card-details {
            flex: 1;

            h2 {
                color: $text;
                margin-bottom: 0;

                @include dark-mode {
                    color: $dark_text;
                }

                &:hover {
                    color: $primary !important;
                }
            }

            h5 {
                margin-bottom: 0;
                margin-top: 1em;
            }
        }
    }

    &.profile-card--small {
        .block-content {
            .profile-card-avatar img {
                max-height: 60px;
            }

            h2 {
                font-size: 1.3em;
            }
        }
    }
}

.user-profile-popup {
    position: absolute;
    width: 450px;

    .profile-card {
        margin-bottom: 0;
        background: $secondary;

        @include dark-mode {
            background: $secondary;
        }

        * {
            color: white;
        }

        .profile-card-avatar {
            img {
                display: block;
            }
        }

        .profile-card-details {
            a h2 {
                display: inline-block;
                color: white;
            }

            h5 {
                margin-top: 0.5em;
            }
        }
    }
}


