/* Sidebar */
nav#sidebar {
    background: $sidebar_bg;
    border: $sidebar_border;
    width: $sidebar_width;

    @include dark-mode {
        background-color: $dark_sidebar_bg;
    }

    position: fixed;
    top: $header_height;
    left: 0;
    bottom: 0;

    transform-style: preserve-3d;

    display: flex;
    flex-direction: column;

    z-index: 50;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media (max-width: $desktopWidth) {
        left: -$sidebar_width;

        transition: transform 0.3s;
        transform: translate3d(0, 0, 0);
    }

    @media (max-width: $mobileWidth) {
        left: -100%;

        width: 100%;
        transition: transform 0.3s;
        transform: translate3d(0, 0, 0);
    }

    .sidebar-content {
        flex-grow: 1;

        .form--search {
            display: flex;

            input[type=text] {
                border-radius: 0;
                border: none;
                background: rgba($sidebar_overlay, 0.5);
                color: white;
            }

            button {
                flex: 0 0 auto;
                padding: 12px 10px;
                height: 100%;
                border-radius: 0;
                color: white;
                background: rgba($sidebar_overlay, 0.5);

                &:hover {
                    background: $primary;
                }

                &::before,
                &::after {
                    content: ''
                }
            }
        }

        ul, li,
        ul ul, li li {
            list-style: none;
            margin: 0;
        }



        @include dark-mode {
            a:hover {
                color: $primary !important;
            }
        }

        > ul {
            padding: 0.6em 0;

            a:hover {
                list-style: none;
                text-decoration: none;
            }

            .label {
                text-transform: uppercase;
                font-weight: bold;
                color: $text_header;
                font-size: 1em;
                letter-spacing: 2px;

                > span, > a, > div {
                    color: inherit;
                    display: block;
                    padding: 0.5em 12px 0.4em 12px;
                }

                a {
                    &:hover {
                        color: $primary;
                    }
                }

                div.section-content {
                    overflow: hidden;
                    margin-top: 0.8em;

                    .small {
                        font-size: 8px;
                        margin-top: 0.3em;
                        color: $text_subtle;

                        @include dark-mode {
                            color: $text_subtle;
                        }
                    }
                }
            }

            .sidebar-item-expand {
                position: absolute;
                right: 0;
                top: 0;
                height: 40px;
                width: 34px;
                cursor: pointer;
                text-align: center;
                color: white;

                &:hover {
                    color: white;
                }

                i {
                    line-height: 34px;
                    color: inherit;
                }

                .fa-angle-up {
                    display: none;
                }

                &.toggle-visible {
                    .fa-angle-up {
                        display: block;
                    }

                    .fa-angle-down {
                        display: none;
                    }
                }
            }

            > li:not(.label) {
                position: relative;

                &.selected {
                    > a,
                    > span {
                        background: $sidebar_overlay;

                        @include dark-mode {
                            background: $dark_sidebar_overlay;
                        }
                    }

                    ul {
                        display: block;
                        // padding: 0.3em 0;
                    }
                }

                span, a {
                    padding: 0.4em 12px;
                    display: block;
                    text-align: left;
                    border-bottom: medium none;
                    color: white;
                    font-size: 1em;
                    font-family: $text_font;
                    font-weight: 200;
                    cursor: pointer;
                }

                > ul > li {
                    &:first-child > a {
                        padding-top: 1em;
                    }

                    &:last-child > a {
                        padding-bottom: 1em;
                    }
                }

                &.hover:not(.selected) > span,
                &.hover:not(.selected) > a,
                &:not(.selected) > a:hover {
                    background: $primary;

                    .tag {
                        background: $primary_hover;
                    }

                    @include dark-mode {
                        background: none;

                        .tag {
                            background: $primary;
                        }
                    }
                }
            }

            /* Sub-nav */
            ul {
                display: none;
                background: $secondary_light;
                margin: 0;

                @include dark-mode {
                    background-color: $dark_accent;
                }

                li.active > a,
                a:hover {
                    background: inherit;
                    color: $primary;
                    text-decoration: none;
                }
            }
        }
    }

    .sidebar-footer {
        padding-bottom: 1em;
        text-align: center;
        overflow: hidden;

        a {
            color: white;

            &:hover {
                color: $primary;
            }
        }
    }
}


@media (max-width: $desktopWidth) {
    body.sidebar--open nav#sidebar {
        transform: translate3d(100%, 0px, 0px);
    }
}

body.no-js {
    .sidebar-item-expand {
        display: none;
    }
}