body.stats {

    .block--leaderboard {
        table {
            tbody {
                tr {

                    td:first-child {
                        text-align: center;
                        font-size: 1.1em;
                    }

                    td:nth-child(2) {
                        width: 40px;
                        padding: 0;

                        img {
                            width: 100%;
                            display: block; 
                        }
                    }

                    td:nth-child(3) {
                        width: 40%;
                    }

                    td:nth-child(4) {
                        width: 20%;
                    }

                    td:nth-child(5),
                    td:nth-child(6) {
                        text-align: right;
                    }


                    &.highlight {
                        background: $primary;

                        td, a {
                            color: white;
                            font-weight: bold;
                        }

                        span {
                            color: white;
                        }
                    }
                }
            }

            .progress .progress-bar {
                background: #2d3b4f;
            }
        }
    }



    &.stats--chat {
        .block--users {
            table {
                .chat-stats-bar {
                    height: 0.6em;
                    border-radius: 3px;
                    overflow: hidden;

                    .chat-stats-bar-section {
                        height: 100%;
                        float: left;

                        &.chat-stats-bar-section--morning {
                            background: #fe7518;
                        }
                        &.chat-stats-bar-section--afternoon {
                            background: green;
                        }
                        &.chat-stats-bar-section--evening {
                            background: #ff2400;
                        }
                        &.chat-stats-bar-section--night {
                            background: #1e1e1e;
                        }
                    }
                }
            }
        }
    }
}