.user-card .block-content {
    display: flex;

    .user-card-avatar {
        flex: 0 0 auto;

        margin-right: 1.2em;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .user-card-details {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        > div:first-child {
            flex: 1 1 auto;
            margin-bottom: 0.8em;

            h3 {
                margin-bottom: 0.5rem;
                font-size: 1.8rem;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}