@import 'variables';

/* Auth / Login */
body.auth {
    padding: 0;
    background: $secondary;
    height: auto;

    @include dark-mode() {
        background: $dark_page_bg;
    }
    
    .container {
        width: 525px;
        background: $block_bg;
        border-radius: 2px 2px 5px 5px;
        box-shadow: $block_shadow;
        max-width: 100%;
        padding: 0;
        margin-top: 120px;

        @include dark-mode() {
            background: $dark_block_bg;
        }

        @media (max-width: $mobileWidth) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .button--wide {
        padding: 20px;
    }

    form {
        margin: 0;
    }

    .auth-nav {
        line-height: 1em;
        margin-bottom: -1em;
        position: relative;
        top: -33px;

        a {
            color: white;

            &:hover {
                text-decoration: none;

                @include dark-mode() {
                    color: $primary;
                }
            }
        }

        @media (max-width: $mobileWidth) {
            display: none;
        }
    }

    .auth-tabs {
        overflow: hidden;
        margin-bottom: 0;

        li {
            display: block;
            float: left;
            width: 50%;

            a {
                background: $secondary_light;
                color: white;
                font-size: 2rem;
                font-weight: bold;
                line-height: 80px;
                margin: 0;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
                letter-spacing: 1px;

                padding: 0 25px;
                display: block;

                &:hover {
                    background: $primary;
                }

                @include dark-mode() {
                    background: $dark_block_bg_secondary;
                }
            }

            &.active {
                a {
                    background: $block_bg !important;
                    color: $link;
                    font-size: 2.6rem;

                    @include dark-mode() {
                        background: $dark_block_bg !important;
                        color: $primary;
                    }
                }
            }
        }
    }

    .auth-local {
        padding: 25px;

        overflow: hidden;
        position: relative;

        transition: height 0.1s;

        h1 {
            margin-top: 0;
        }

        > div {
            display: none;

            &.active {
                display: block;
            }
        }

        &.auth-local--animated > div {
            display: block;
            position: absolute;
            top: 0;
            transition: left 0.3s;
            padding: 25px;
            width: 100%;

            &.active {
                left: 0 !important;
            }

            &.auth-local-login {
                left: -100%;   
            }

            &.auth-local-signup {
                top: 0;
                left: 100%;
            }   
        }

        .message {
            background: #f3f3f3 none repeat scroll 0 0;
            margin: 20px 0;

            div {
                padding: 16px;
                padding-left: 70px;
            }

            i {
                float: left;
                height: 52px;
                line-height: 52px;
                text-align: center;
                width: 52px;
                color: white;
                cursor: default;
            }

            &.message--error i {
                background: red;
            }
        }

        .row-fluid {
            margin-top: 25px;
        }
    }

    .auth-social {
        margin-top: 15px;

        > a {
            padding: 15px;
            background: red;
            display: block;
            color: white;
            font-size: 1.2em;

            &:hover {
                text-decoration: none;
            }

            &.auth-social--facebook {
                background: #3b5998;

                &:hover {
                    background: darken(#3b5998, 5%);

                }
            }

            &.auth-social--twitter {
                background: #00aced;

                &:hover {
                    background: darken(#00aced, 5%);
                }
            }

            &.auth-social--google {
                background: #dd4b39;

                &:hover {
                    background: darken(#dd4b39, 5%);
                }
            }

            &.auth-social--github {
                background: #171516;

                &:hover {
                    background: darken(#171516, 5%);
                }
            }

            i {
                padding-right: 16px;
            }
        }
    }

    .auth-footer {
        padding: 15px;
        text-align: right;
    }

    .auth-setup {
        .avatar {
            width: 150px;
            min-height: 150px;

            i {
                width: 100%;
                height: 150px;
                border: 2px dashed $accent;
                border-radius: 4px;

                text-align: center;
                line-height: 150px;
                font-size: 4em;
                color: purple;
            }

            &.highlight i {
                color: yellow;
                border-color: pink;
            }

            img {
                display: none;
                width: 100%;
                max-height: 190px;
            }

            .avatar-disable,
            .gravatar-details {
                display: none;
            }

            &.avatar-gravatar,
            &.avatar-upload {
                i {
                    display: none;
                }

                img {
                    display: block;
                }
            }

            &.avatar-gravatar {
                .avatar-disable,
                .gravatar-details {
                    display: inline-block;
                }
            }
        }
    }
}

html.no-js {
    body.auth .auth-local > div {
        display: none;

        &.active {
            display: block;
            position: relative;
            padding: 0;
        }
    }
}