{% set flashes = getFlashes(group) %}
{% if flashes is iterable %}
    {% for flash in flashes %}
        {% if flash.msg %}
            <div class="msg msg--{{ flash.type }}">
                <a href="#" class="close" data-toggle=".msg"><i class='close fas fa-times'></i></a>
                {{ flash.msg starts with 'SQLSTATE' and not user.hasPrivilege('green') ? 'There was an error 1.1' : flash.msg }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}