<nav id="sidebar">
    <div class="sidebar-content">
        {% if user %}
            {% include 'includes/form.twig' with { form: getSearchForm() } %}
        {% endif %}

        {% for section in navigation.sidebar %}
                <ul>
                    <li class="label">
                        {% if section.url %}
                            <a href='{{ section.url }}'>
                                {{ section.title }}

                                {% if section.title == 'Playground' %}
                                    {% if user %}
                                        <div class="section-content">
                                            <div class="progress progress--small">
                                                <div class="progress-bar" style="width: {{ user.profile.levelProgress }}%"></div>
                                            </div>
                                            <div class="right small">{{ user.profile.stats.levelsCompleted|number_format }} of {{ getLevelCount()|number_format }}</div>
                                        </div>
                                    {% else %}
                                        <i class="fas fa-user-lock c-subtle" title="Levels for memebers only"></i>
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% else %}
                            <span>
                                {{ section.title }}
                            </span>
                        {% endif %}
                    </li>
                    {% for item in section.items %}
                        {% set selected = sidebarSelected(item, breadcrumb) %}

                        <li class="{% if item.children %}has-children{% endif %} {% if selected %}selected{% endif%}">
                            {% if item.url %}
                                <a href="{{ item.url }}">
                                    {{ item.title }}

                                    {% if item.url == '/messages' %}
                                        {% set unread = user.getUnreadPM() %}
                                        <div class="siderbar-item-count tag {{ unread ? 'tag--primary' : 'tag--secondary-alt' }}">{{ unread|number_format }}</div>
                                    {% endif %}
                                </a>
                            {% else %}
                                <span data-toggle="ul">
                                    {{ item.title }}
                                </span>
                            {% endif %}

                            {% if item.children %}
                                <div class="sidebar-item-expand {% if selected %}toggle-visible{% endif%}" data-toggle="ul">
                                    <i class="fas fa-angle-down"></i>
                                    <i class="fas fa-angle-up"></i>
                                </div>
                            {% endif %}

                            {% if item.children %}
                                <ul>
                                    {% for child in item.children %}
                                        {% set selected = sidebarSelected(child, breadcrumb) %}

                                        <li class="{{ child.class }} {% if selected %}active{% endif %}">
                                            <a href="{{ child.url }}">
                                                {{ child.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
        {% endfor %}
    </div>

    {% if user %}
        <div class="sidebar-footer">
            <a href="#" data-toggle-dark-mode="true" class="dark-hide">
                Black hat
            </a>
            <a href="#" data-toggle-dark-mode="false" class="dark-show">
                White hat
            </a>
        </div>
    {% endif %}
</nav>