{% if user.hasPrivilege('bronze') %}
    <div class="block">
        <div class="block-content">
            <ul class="list">
                {% if user.hasPrivilege('bronze') %}
                    <li>
                        Purge and regenerate user profile
                        <a href="?moderation=regenerate" class="button right" csrf>Go</a>
                    </li>
                {% endif %}
                {% if user.hasPrivilege('gold') and profile.privileges != 'green' %}
                    <li>
                        {{ profile.privileges == 'black' ? 'Unblock' : 'Block' }} user from contributing
                        <a href="?moderation={{ profile.privileges == 'black' ? 'unblock' : 'block' }}" class="button button--warning right" csrf>Go</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}