{% if profile %}
    <div class="block block--clear profile-meta">
        <div class="block-heading">
            {{ getImage(profile.avatar, "bigavatar", "profile-avatar")|raw }}

            <a href='{{ profile.permalink }}'><h2>{{ profile.name ? profile.name : profile.username }}</h2></a>
            {% if profile.name %}
                <div class="small">[{{ profile.username }}]</div>
            {% endif %}
            <h5>{{ profile.status }}</h5>

            {% if profile.website %}
                <br/><a href="{{ profile.website }}" target="_blank" rel="noindex noopener">{{ profile.website }}</a>
            {% endif %}

            <div class="tags">
                {% if user.hasPrivilege('gold') and profile.privileges == 'black' %}
                    <div class="tag">
                        <i class="fas fa-exclamation-circle c-error"></i>
                        blocked from contributing
                    </div>
                {% endif %}
                {% if profile.isDonator() %}
                    <div class="tag">
                        <i class="fas fa-heart c-green"></i>
                        donator
                    </div>
                {% endif %}
                {% if profile.privileges %}
                    {% if profile.privileges == 'green' %}
                        <div class="tag">
                            <i class="fas fa-circle c-{{ profile.privileges }}"></i>
                            owner
                        </div>
                    {% elseif profile.privileges != 'black' %}
                        <div class="tag">
                            <i class="fas fa-circle c-{{ profile.privileges }}"></i>
                            moderator
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="block-content">
            <div class="profile-stat">
                {% if not profile.isPrivacyEnabled('leaderboard') and profile.getRank().rank < 1000 %}
                    <div>
                        Rank
                        <h3>{{ profile.getRank().rank|number_format }}<sup class="small">{{ profile.getRank().rank|ordinal }} {{ profile.getRank().joint ? ' joint' }}</sup></h3>
                    </div>
                {% endif %}
                <div>
                    Reputation
                    <h3>{{ profile.reputation|number_format }}</h3>
                </div>
            </div>
            <div class="profile-stat">
                <div>
                    Playground progress
                    <h3>{{ profile.levelProgress|round }}%</h3>
                    <div class="progress progress--small">
                        <div class="progress-bar" style="width: {{ profile.levelProgress }}%"></div>
                    </div>
                    <div class="right small">{{ profile.stats.levelsCompleted|number_format }} of {{ getLevelCount()|number_format }}</div>
                </div>
            </div>

            {% if not popup %}
                {% set forumActivity = profile.getForumActivity() %}
                {% if forumActivity.threads or forumActivity.posts %}
                    <div class="profile-stat">
                        {% if forumActivity.threads %}
                            <div>
                                    Discussion threads
                                    <h3>{{ forumActivity.threads|number_format }}</h3>
                            </div>
                        {% endif %}
                        {% if forumActivity.posts %}
                            <div>
                                Discussion posts
                                <h3>{{ forumActivity.posts|number_format }}</h3>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

            {% if not popup %}
                <div class="button-group">
                    {% set blocked = profile.isBlocked() %}
                    {% set hasBlocked = profile.hasBlocked() %}
                    {% set canPM = not blocked and not hasBlocked and (not profile.isPrivacyEnabled('pm') or profile.isFollowing()) %}
                    {% if user and not profile.currentUser %}
                        {% if controls %}
                            {% if profile.beingFollowed() %}
                                <a href='{{ profile.permalink }}/unfollow' class="button button--wide button--warning" csrf>Stop following</a>
                            {% else %}
                                <a href='{{ profile.permalink }}/follow' class="button button--wide" csrf>Follow {{ profile.username }}</a>
                            {% endif %}
                        {% endif %}
                        {% if canPM %}
                            <a href='/messages/new?to={{ profile.username }}' class="button button--wide">Send PM</a>
                        {% endif %}
                        {% if not profile.beingFollowed() %}
                            {% if blocked %}
                                <a href='{{ profile.permalink }}/unblock' class="button button--wide button--warning" csrf>Unblock</a>
                            {% else %}
                                <a href='{{ profile.permalink }}/block' class="button button--wide button--warning" csrf>Block</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}