{% set medals = profile.getMedalsGrouped() %}
{% if medals is iterable and medals|length %}
    <div class="block">
        <div class="block-heading"><h3>Medals</h3></div>
        <div class="block-content">
            <ul class="list">
                {% for label, medals in medals %}
                    <li id="{{ label }}">
                        <div class="right">
                            {% for medal in medals %}
                                <i class="fas fa-circle c-{{ medal.colour }}" title="{{ medal.description }}"></i>
                            {% endfor %}
                        </div>

                        <h4>{{ label }}</h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}